
<h1>Sessions data</h1>

<style>
    button:disabled {
        color: #a0a0a0;
    }

    html, body, .body-content {
        height: 100%;
    }

    body > div.container{
        max-width:100%;
        margin-left: 50px;
        margin-right: 50px;
    }
</style>

<div style="padding: 4px">
    <div style="float: right;">
        <input type="text" id="quickFilterInput" placeholder="Type text to filter..." />
        <button id="btResetGrid">Reset Grid</button>
        <button id="btReloadFromServer">Reload From Server</button>
    </div>
    <div style="padding: 4px;">
        <b>Showing</b> <span id="rowCount"></span> <b>sessions</b>
    </div>
    <div style="clear: both;"></div>
</div>
<div id="sessionDataGrid" class="ag-theme-fresh ag-basic">
</div>

@Scripts.Render("~/bundles/data-session")

<!-- Modal -->

@Scripts.Render("~/bundles/cytoscape")
@Scripts.Render("~/bundles/dagre")
@Scripts.Render("~/bundles/cytoscape-dagre")
@Scripts.Render("~/bundles/cytoscape-qtip")

<style>
    #cy {
        width: 1200px;
        height: 600px;
        display: block;
        border: 1px solid black;
    }

    .qtip {
        max-width: none !important;
        font-size: 12px;
    }
</style>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Session View</h4>
            </div>
            <div class="modal-body">

                <div id="cy"></div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#myModal').on('show.bs.modal', function (event) {
        //Modal setup
        $('.modal .modal-body').css('overflow-y', 'auto');
        $('.modal .modal-body').css('height', $(window).height() * 0.87);
        $('.modal .modal-dialog').css('width', $(window).width() * 0.95);

        var button = $(event.relatedTarget);
        var identifier = button.data('identifier');

        //Modal content visualization
        $.get(location.origin + '/api/Visualization/Session/' + identifier, function (data) {

            var cy = cytoscape({
                container: document.getElementById('cy'),

                elements: data,

                style: [
                    {
                        selector: 'node',
                        style: {
                            'background-color': '#666',
                            'label': 'data(method)',
                            'width': 10,
                            'height': 10,
                        }
                    },
                    {
                        selector: 'edge',
                        style: {
                            'width': 2,
                            'line-color': '#ccc',
                            'target-arrow-color': '#ccc',
                            'target-arrow-shape': 'triangle'
                        }
                    }
                ],

                layout: {
                    name: 'dagre'
                },

                ready: function () {
                    window.cy = this;
                }
            });

            cy.animate({
                pan: { x: 50, y: 50 },
                zoom: 1
            },
                {
                    duration: 1000
                });

            $(cy.filter('node')).each(function () {
                this.qtip({
                    content: renderNodeInfo(this.data().nodeinfo),
                    position: {
                        my: 'top center',
                        at: 'bottom center'
                    },
                    style: {
                        classes: 'qtip-bootstrap'
                    }
                });
            });

        });

        function renderNodeInfo(node) {
            return '<b>Namespace:</b> ' + node.name_space + '<br />' +
                '<b>Type:</b> ' + node.type + '<br />' +
                '<b>Method:</b> ' + node.method + '<br />' +
                '<b>Origin:</b> ' + node.origin + '<br />' +
                '<b>ReturnType:</b> ' + node.returtype + '<br />' +
                '<b>Created:</b> ' + node.created + '<br />';
        }
    });
</script>