<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Swarm Debugger">
    <meta name="author" content="Eduardo Andreetta Fontana">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://www.ag-grid.com/dist/ag-grid/ag-grid.js"></script>
    <script type="text/javascript">
        $(function () {
            var $loading = $('#loading').hide();

            $(document)
                .ajaxStart(function () {
                    $loading.show();
                })
                .ajaxStop(function () {
                    $loading.hide();
                });
        });
    </script>
</head>
<body>
    <div id="loading">
        <div class="loader"></div>
    </div>

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="@Url.Action("Index", "Home")">
            <i class="fas fa-bug fa-lg" style="margin-right: 5px;"></i>
            Swarm Debugger Portal
        </a>
        <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>-->
        <!--TODO review later-->
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")" href="@Url.Action("Index", "Home")">
                                <i class="fas fa-home fa-lg feather"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "CodeMetrics" ? "active" : "")" href="@Url.Action("Index", "CodeMetrics")">
                                <i class="fas fa-code fa-lg feather"></i>
                                Code Metrics
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "ImportSessions" ? "active" : "")" href="@Url.Action("Index", "ImportSessions")">
                                <i class="far fa-arrow-alt-circle-up fa-lg feather"></i>
                                Import Sessions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "TasksTime" ? "active" : "")" href="@Url.Action("Index", "TasksTime")">
                                <i class="far fa-clock fa-lg feather"></i>
                                Tasks Time
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Help" ? "active" : "")" href="@Url.Action("Index", "Help")">
                                <i class="fas fa-globe fa-lg feather"></i>
                                API
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Visualizations</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Task" ? "active" : "")" href="@Url.Action("Task", "Visualization")">
                                <i class="far fa-eye fa-lg feather"></i>
                                Tasks
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Session" ? "active" : "")" href="@Url.Action("Session", "Visualization")">
                                <i class="far fa-eye fa-lg feather"></i>
                                Sessions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Global" ? "active" : "")" href="@Url.Action("Global", "Visualization")">
                                <i class="far fa-eye fa-lg feather"></i>
                                Global
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
